spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: customer-service
              uri : lb://CUSTOMER-SERVICE
              predicates:
                - Path=/customers/**
            - id : inventory-service
              uri : lb://INVENTORY-SERVICE
              predicates:
                - Path=/products/**
            - id: billing-service
              uri: lb://BILLING-SERVICE
              predicates:
                - Path=/bills/**
    discovery:
      enabled: true
    config:
      enabled: false

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/
    register-with-eureka: true
    fetch-registry: true